body {background-color: cadetblue;}
#p01 {color: rgb(3, 8, 3);
border: 5px solid rgb(66, 190, 212) ;
margin: 50px;
padding: 30px;
font-size: 350%;
font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
background-color: rgb(125, 243, 102)}